kurigram==2.2.4
#pytgcrypto @ git+https://github.com/TelegramPlayGround/pyrogram-tgcrypto
#pip install -e git+https://github.com/TelegramPlayGround/pyrogram-tgcrypto.git#egg=pytgcrypto

pyyaml==6.0.2
deepl==1.22.0
deep-translator==1.11.4
python-dotenv==1.1.0
psycopg2-binary

beautifulsoup4==4.13.4
httpx==0.28.1
pytube==15.0.0
Pillow==11.2.1
regex==2024.11.6
regex==2024.11.6